.cooking-timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timer-buttons > button {
  width: 200px;
  margin-bottom: 10px;
}
